@import "tailwindcss";

:root {
  --background: #f1f5f9;
  --foreground: #1a1a1a;
  --elementBackground: #42336f;
  --elementForeground: white;
  --elementBorder:#d2b9da;
  --accentBackground: #c1bad8;
  --accentForeground: #42336fd3;
  --fieldBackground: #fcfaf1;
  --headingColour: rgb(69, 61, 61);
  --footer-height: 80px;
}

[data-theme="dark"] {
  --background: #1e1c1e;
  --foreground: #ededed;
  --elementBackground: #592468;
  --elementForeground: #c6cfdc;
  --elementBorder:#64315a;
  --accentBackground: #4E3D53;
  --accentForeground: #ededed;
  --fieldBackground: #282017;
  --headingColour: rgb(154, 190, 192);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-element-background: var(--elementBackground);
  --color-element-foreground: var(--elementForeground);
  --color-element-border: var(--elementBorder);
  --color-accent-background: var(--accentBackground);
  --color-accent-foreground: var(--accentForeground);
  --color-field-background: var(--fieldBackground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  transition: background-color 0.2s, color 0.2s;
}

h1 {
  font-size: 32; 
  font-weight: bold;
  color: var(--headingColour);
}

html {
  scroll-padding-top: 64px;
}

@media (max-width: 768px) {
  html {
    scroll-padding-top: 80px;
  }
}
